<a href="https://colab.research.google.com/github/Betty5162124/tesetrpo/blob/main/M2DataWrangling_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
# Find the number of duplicate rows in the DataFrame
num_duplicates = df.duplicated().sum()

print(f"There are {num_duplicates} duplicate rows in the dataset.")

There are 154 duplicate rows in the dataset.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
# Remove duplicate rows from the DataFrame
df_cleaned = df.drop_duplicates()

# Optionally, print the number of rows after removing duplicates to verify
print(f"Number of rows after removing duplicates: {df_cleaned.shape[0]}")
# Remove duplicate rows from the DataFrame in place
df.drop_duplicates(inplace=True)

Number of rows after removing duplicates: 11398

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
print(df.duplicated().value_counts())

False    11398
Name: count, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [7]:
# your code goes here
# Find the number of missing values for each column
missing_values = df.isnull().sum()

print("Missing values for each column:")
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
# your code goes here

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
# Find the number of missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isnull().sum()

print(f"Number of missing values in the 'WorkLoc' column: {missing_workloc}")

Number of missing values in the 'WorkLoc' column: 32

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
#make a note of the majority value here, for future reference
# Find the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# your code goes here
# Find the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

# Replace missing values in the 'WorkLoc' column with the most frequent value
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

# Verify the changes by checking for missing values again
missing_workloc_after = df['WorkLoc'].isnull().sum()
print(f"Number of missing values in the 'WorkLoc' column after imputation: {missing_workloc_after}")

Number of missing values in the 'WorkLoc' column after imputation: 0

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# your code goes here
# Verify if imputing was successful
missing_workloc_after = df['WorkLoc'].isnull().sum()

if missing_workloc_after == 0:
    print("Imputation was successful: There are no missing values in the 'WorkLoc' column.")
else:
    print(f"Imputation was not completely successful: There are {missing_workloc_after} missing values in the 'WorkLoc' column.")

Imputation was successful: There are no missing values in the 'WorkLoc' column.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [12]:
# your code goes here
# List out the various categories in the 'CompFreq' column
comp_freq_categories = df['CompFreq'].unique()

print("Categories in the 'CompFreq' column:")
print(comp_freq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [13]:
# your code goes here
# Create the 'NormalizedAnnualCompensation' column based on 'CompFreq'
def normalize_annual_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # In case there are unexpected values in 'CompFreq'

# Apply the function to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_annual_compensation, axis=1)

# Verify the new column by displaying the first few rows
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).